<div class="wrapper">

    <div class="right">
        <div>
            <form action="index.html" method="post">
                <h2>Profile Settings</h2>

                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="center-image">
                            <img class="avatar" width="100px" height="100px"
                                src="http://res.cloudinary.com/dikpupfzu/image/upload/v1525474876/profile_avatar.png"
                                alt="">
                        </div>

                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="center-image">
                            <div class="field">
                                <label for="">Full Name</label>
                                <input class="full_name" type="text" name="full-name" value="" />
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="field">
                            <label for="">Email</label>
                            <input class="full_name" type="text" name="full-name" />
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="center-image">
                            <div class="field">
                                <label for="">Full Name</label>
                                <input class="full_name" type="text" name="full-name" value="" />
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="field">
                            <label for="">Email</label>
                            <input class="full_name" type="text" name="full-name" />
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="center-image">
                            <div class="field">
                                <label for="">Full Name</label>
                                <input class="full_name" type="text" name="full-name" value="" />
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="field">
                            <label for="">Email</label>
                            <input class="full_name" type="text" name="full-name" />
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div class="bottom">
                    <a href="#"><button class="button_left" type="submit" name="button">Save Changes</button></a>
                    <a href="#"><button class="button_right" type="cancel" name="button">Cancel</button></a>
                </div>
            </form>
        </div>
    </div>