<div class="countdown-timmer">
    <div class="time">
        <div class="format">
            <div class="number">{{REMAINING_DAYS}}</div>
            <div class="subtitle">Dias</div>
        </div>
        <div class="format">
            <div class="number">{{REMAINING_HOURS}}</div>
            <div class="subtitle">Horas</div>
        </div>
        <div class="format">
            <div class="number">{{REMAINING_MINUTES}}</div>
            <div class="subtitle">Minutos</div>
        </div>
        <div class="format">
            <div class="number">{{REMAINING_SECONDS}}</div>
            <div class="subtitle">Segundos</div>
        </div>
    </div>

</div>
