.carousel {

  height: 350px;
  padding: 2em;
  // margin:2rem;
   display: block;
  // width: 95%;
}

.carousel {
  height: 350px;
  padding: 2em;
  // margin:2rem;
   display: block;
  // width: 95%;
}

.carousel-icon {
  height: 90px;
  padding: 2em;
  // margin:2rem;
   display: block;
  // width: 95%;
}

.card{
  padding: 2rem;
  width: 200px;
  height: 300px;
}


.communities{
width: 300px;
height: 600px;
padding: 2em;
}

.workshops{
  width: 300px;
  // height: 600px;
  padding: 2em;
  margin-bottom: 4rem;
  }
