:host

.header-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.box-logo{
  height: inherit;
  margin-left: 20px;
  width: 150px;
  height: 50px;
  background-image: url("/assets/Logos-Comfeco/logo1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.espacio {
  flex: 1 1 auto;
}

@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less*/
@media screen and (max-width: 888px) {
  .box-logo{
    background-image: url("/assets/Logos-Comfeco/logo-sin-fondo.png");
  }
}
img {
  border-radius: 50%;
}
.list-menu:hover{
  cursor: pointer;
  background-color: rgb(196, 189, 189);
}
.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.menu ul {
  margin-left: 0;
  list-style: none;
  text-align: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  padding: 14px 10px;
  text-decoration: none;
}
.menu ul li a:hover {
  background: rgb(187, 61, 236);
  color: #FFF;
}
.active{
  background: rgb(187, 61, 236);
  color: #FFF;
}

.expand{
  min-width: 250px;
}




.profile{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-profile{
  margin-top: .7rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  // background-color: purple;
}

.name-profile{
  padding-top: .7rem;
  font-size: larger;
  font-weight: 500;
}

.correo-profile{
  font-weight: 500;
  color: darkgrey;
}

.click:hover{
  cursor: pointer;
}
