<mat-toolbar color="backgrond(300)">

  <div class="box-logo" routerLink="/">
  </div>

  <div class="wrapper">
    <div class="menu">
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="/app">Inicio</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/comunidades">Comunidades</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/talleres">Talleres</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/creadores">Creadores</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="espacio"></div>

  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <button mat-raised-button color="primary" class="button" routerLink="/account/login">
      <ng-container>
        Login
      </ng-container>
    </button>
    <button mat-raised-button color="primary" class="button" routerLink="/account/register">
      <ng-container>
        Register
      </ng-container>
    </button>

  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">

      <button mat-button [matMenuTriggerFor]="menu"><img [src]=user.photoURL width="25px"> {{user.displayName}}
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <mat-list role="list">
          <mat-list-item role="listitem" class="list-menu">
            <span class="material-icons">
              build_circle
            </span>&nbsp;Configuración
          </mat-list-item>

          <mat-list-item role="listitem" (click)="auth.signOut()" class="list-menu">
            <span class="material-icons">
              logout
            </span>
            &nbsp;Salir
          </mat-list-item>
        </mat-list>
      </mat-menu>

    </div>
  </ng-template>

</mat-toolbar>