<mat-toolbar color="backgrond(300)" (window:resize)="onResize($event.target.innerWidth)">

  <div *ngIf="hiddeMenu">
    <button mat-icon-button color="accent"><mat-icon>menu</mat-icon></button>
  </div>

  <div class="box-logo" routerLink="/">
  </div>

  <div class="wrapper">
    <div class="menu" *ngIf="!hiddeMenu">
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="/app">Inicio</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/comunidades">Comunidades</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/talleres">Talleres</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/creadores">Creadores</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="espacio"></div>

  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <button  mat-button color="accent" class="button" routerLink="/account/login">
      <ng-container>
        Iniciar Sesion
        <span class="material-icons">
          login
        </span>
      </ng-container>
    </button>

  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">

      <button mat-button [matMenuTriggerFor]="notification"  (click)="toggleBadgeVisibility()">
        <mat-icon matBadge="{{items.length}}" matBadgeColor="primary" [matBadgeHidden]="hidden">notification_important</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu"><img [src]=user.photoURL width="25px"> {{user.userName}}
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>
      <mat-menu #menu="matMenu" class="menu-profile">
        <div class="profile">
          <div><img class="image-profile" [src]="user.photoURL"></div>
          <div class="name-profile">{{user.userName | titlecase}}</div>
          <div class="correo-profile">{{user.email}}</div>
          <div class="expand"></div>
          <div><a class="click" (click)="route.navigate(['/miperfil'])">Mi perfil</a></div>
        </div>
        <mat-list role="list">
          <!-- <mat-list-item role="listitem" class="list-menu" (click)="route.navigate(['/miperfil']);">
            <span class="material-icons">
              account_circle
            </span>&nbsp;Mi Perfil
          </mat-list-item> -->

          <mat-list-item class="exit" role="listitem" (click)="auth.signOut()" class="list-menu">
            <span class="material-icons">
              logout
            </span>
            &nbsp;Salir
          </mat-list-item>
        </mat-list>
      </mat-menu>

      <mat-menu #notification="matMenu" >
        <app-notification [items]=items></app-notification>
      </mat-menu>

    </div>
  </ng-template>

</mat-toolbar>
