<mat-card>
  <div class="header-card">
    <h2>Comunidades</h2>
    <span class="divider"></span>
    <a class="more-link" [routerLink]="['/comunidades']" >Ver más</a>
  </div>

  <mat-card-content>

    <ng-container *ngFor="let community of communities">
      <div class="content-item">
        <img [src]="community.img? community.img : 'assets/Logos-Comfeco/Logo-con-fondo.png'"  class="image-item">
        <div class="title-item"><h3>{{community.name}}</h3></div>
        <span class="divider"></span>
        <a class="join-link" [href]="community.url? community.url :'http://google.com'" target="_blank" rel="noopener noreferrer">Unirme</a>
      </div>
      <hr>
    </ng-container>

  </mat-card-content>

</mat-card>
