

<div class="center">
  <mat-card class="tarjeta">
    <mat-card-header>
      <mat-card-title>Página de inicio</mat-card-title>
      <mat-card-subtitle>Probando Angular material</mat-card-subtitle>
    </mat-card-header>
    <img class="img-tarjeta" mat-card-image src="https://source.unsplash.com/random" alt="Foto del día">
    <mat-card-content>
      <p>
       Esto solo es una prueba de angular material.
       Cada que refresques la pagina encontrar'as una nueva imagen.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="refresh()">Actualizar</button>
    </mat-card-actions>
  </mat-card>
</div>

