.container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-workshops{
  width: 18.75rem;
  // height: 600px;
  padding-top: 6em;
  padding-right: 2em;
  padding-left: 3em;
  margin-bottom: 4rem;
}

.side-communities{
  width: 18.75rem;
  height: 37.5rem;
  padding-left: 2em;
  padding-top: 6em;
  padding-right: 3em;
  margin-bottom: 4rem;
}

.content{
  width: 100%;
  padding: 2em;
}

.content-title{
  text-align: center;
}

.leads-title{
  margin-top:4em;
  text-align: center;
}

.carousel-leads{
  height: 21.875rem;
  padding: 2em;
  // margin:2rem;
   display: block;
  // width: 100%;
}

.carousel-sponsors{
  height: 5.625rem;
  padding: 2em;
  // margin:2rem;
   display: block;
  // width: 95%;
}
.countdow-title{
  text-align: center;
}

