<div class="box-flex">

  <div class="box-form-item">

    <mat-grid-list cols="2" rowHeight="100px" class="header-form center fade-in" *ngIf="accion !== 'recovery'">
      <mat-grid-tile routerLinkActive="active" routerLinkActive="active-a" class="card-bg" routerLink="/account/login">
        <span class="material-icons ">login</span> &nbsp;
        <span> Inicia sesión</span>
      </mat-grid-tile>
      <mat-grid-tile routerLinkActive="active" class="card-bg" routerLinkActive="active-a"
        routerLink="/account/register">
        <span class="material-icons ">app_registration</span> &nbsp;
        <span>Regístrarse</span>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="100px" class="header-form center fade-in" *ngIf="accion === 'recovery'">
      <mat-grid-tile>
        <span class="material-icons" routerLink="/account/recovery" routerLinkActive="active-a"> send</span> &nbsp;
        Recuperar Credenciales
      </mat-grid-tile>
    </mat-grid-list>

    <form (submit)="onSubmit.emit(form.value)" [formGroup]="form" class="fade-in">
      <div class="box-flex">
        <ng-container *ngIf="creditialIncorrect">
          Credenciales incorrectas.
        </ng-container>
      </div>
      <div class="input-style" *ngIf="accion === 'register'">
        <input type="text" placeholder="Nick" [class.no-valido]="usernameNoValido" 
        [class.valido]="!usernameNoValido" formControlName="userName">
        <small *ngIf="usernameNoValido">
          Tu nick debe poseer al menos 5 letras.
        </small>
      </div>
      <div class="input-style">

        <input type="email" placeholder="Correo electronico" [class.no-valido]="emailNoValido" formControlName="email"
          [class.valido]="!emailNoValido">
        <small *ngIf="emailNoValido">
          Tu correo electronico no es valido.
        </small>
        <small *ngIf="emailExits" style="color: red;">
          Correo electronico ya ha sido registrado.
        </small>
        <small *ngIf="emailNotFound" style="color:red">
          El correo electronico no existe.
        </small>
      </div>

      <div class="input-style" *ngIf="accion !== 'recovery'">
        <input type="password" placeholder="Contraseña" [class.no-valido]="passwordNoValido" formControlName="password"
          [class.valido]="!passwordNoValido">
        <small *ngIf="passwordNoValido">
          Tu contraseña debe tener al menos 8 caracteres.
        </small>
        <section class="box-section-check" *ngIf="accion =='login'">
          <a routerLink="/account/recovery"><small><span class="recovery-text "> ¿Olvidaste tu
                contraseña?</span></small></a>
          <mat-checkbox (change)="checked($event.checked)" class="box-margin-check" [checked]="check">Mantenerme
            conectado</mat-checkbox>
        </section>

      </div>
      <div class="input-style" *ngIf="accion === 'register'">
        <input type="password" placeholder="Confirmar contraseña" [class.no-valido]="passwordConfirmNoValido"
          [class.valido]="!passwordConfirmNoValido" formControlName="passwordConfirm">
        <small *ngIf="passwordConfirmNoValido">
          Debes ingresar al menos 8 caracteres.
        </small>
      </div>
      <div class="input-style" *ngIf="accion === 'register'">
        <small *ngIf="equalsPassowrds">
          Las contraseñas deben ser iguales.
        </small>
      </div>
      <div class="box-flex">
        <ng-container *ngIf="authAccountExistsWithDifferentCredential">
          Ya tienes una cuenta vinculada con el correo. <br>
          Intenta acceder con un proveedor diferente.
        </ng-container>
      </div>
      <div class="box-flex">
        <button mat-raised-button color="primary" class="button" [disabled]="!form.valid">
          <ng-container *ngIf="accion === 'login'">
            Iniciar sesión
          </ng-container>
          <ng-container *ngIf="accion === 'register'">
            Crear una cuenta
          </ng-container>
          <ng-container *ngIf="accion === 'recovery'">
            Recuperar Contraseña
          </ng-container>
        </button>
      </div>

      <div class="box-login-rrss box-flex" *ngIf="accion !== 'recovery'">
        <p><span>Tambien puedes iniciar con tus redes</span></p>
        <div class="box-login-rrss_position">
          <div>
            <button mat-raised-button color="primary" (click)="_auth.registerWithFacebook()" type="button">Ingresar con
              facebook</button>
          </div>
          <div class="espacio"></div>
          <div>

            <button mat-raised-button color="primary" (click)="_auth.registerWithGoogle()" type="button">Ingresar con
              Google</button>
          </div>
        </div>
      </div>
      <div class="input-style" style="text-transform: initial; text-align: justify;" *ngIf="accion === 'register'">
        <p>Al registrarte, estas aceptando los <strong>Términos y condiciones </strong>, y la <strong>Política
            de privacidad y protección</strong>
          de datos de COMFECO.</p>
      </div>
    </form>

  </div>
</div>