$base-text-color: rgb(0, 0, 0);
$base-bg: rgb(233, 224, 233);
$base-bg-active: rgb(59, 53, 60);

form {
  max-width: 500px;
}
.header-form {
  width: 100%;
}

.input-style {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}

button {
  margin-right: 1rem;
}
.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0px;
  height: 100%;
  width: 100%;
  color: $base-text-color !important;
}
.box-form-item {
  border: none;
  border-width: 0.5px;
  border-radius: 5px;
  background: $base-bg;
  width: 500px;
}

.active-a {
  background: $base-bg !important;

  z-index: 1;
  color: black !important;
}
.card-bg {
  background-color:  $base-bg-active ;

}
.card-bg span {
  color: rgb(216, 216, 216) !important;
  
}
.active-a span {
  color: rgb(21, 21, 21) !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  width: 70%;
  margin: 0;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.no-valido {
  border-color: red;
}

.no-valido:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px rgb(230, 82, 37);
}

.valido {
  border-color: rgb(221, 215, 215);
}

.valido:focus {
  outline: none !important;
  border: 0.5px solid greenyellow;
  box-shadow: 0 0 10px rgb(124, 209, 63);
}

strong {
  color: #4b76b6;
}

mat-grid-tile {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.box-section-check {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
  color: $base-text-color;
}
.recovery-text {
  font-weight: 100;
  color: $base-text-color;
}
.recovery-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.box-login-rrss {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  margin: 0px;
  color: white;
  font-weight: 500;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box-login-rrss_position {
  display: flex;
  width: 70%;
  margin: 0;
  justify-content: space-between;
}

.box-login-rrss_position button {
  margin: 0px;
}
.espacio {
  flex: 1 1 auto;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 20s2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
