.app-container{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: solid blue;
  flex-grow: 1;
}

// .footer{
//   // border:solid red;
// }

// .nav{
//   // border: solid red;
// }
