
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Team-Angular5-Comfeco-Frontend-primary: mat-palette($mat-indigo);
$Team-Angular5-Comfeco-Frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Team-Angular5-Comfeco-Frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Team-Angular5-Comfeco-Frontend-theme: mat-light-theme((
  color: (
    primary: $Team-Angular5-Comfeco-Frontend-primary,
    accent: $Team-Angular5-Comfeco-Frontend-accent,
    warn: $Team-Angular5-Comfeco-Frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Team-Angular5-Comfeco-Frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.escala0 {
  color: #2e2e2e;
}
.escala1 {
  color: #555555;
}
.escala2 {
  color: #777879;
}
.escala3 {
  color: #c4c4c4;
}
.escala4 {
  color: #e3e3e3;
}
.escala5 {
  color: #f3f3f3;
}
.escala6 {
  color: #ffffff;
}

.pink0 {
  color: #69156a;
}
.pink1 {
  color: #8a178c;
}
.pink2 {
  color: #b824bb;
}
.pink3 {
  color: #d740da;
}
.pink4 {
  color: #e480e5;
}
.pink5 {
  color: #ecadf6;
}
.purple0 {
  color: #390f64;
}
.purple1 {
  color: #521e87;
}
.purple2 {
  color: #7535b6;
}
.purple3 {
  color: #9349dd;
}
.purple4 {
  color: #b983ff;
}
.purple5 {
  color: #d7b7ff;
}

.yellow0 {
  color: #d39c00;
}
.yellow1 {
  color: #f1b406;
}
.yellow2 {
  color: #ffc41f;
}
.yellow3 {
  color: #ffcb38;
}
.yellow4 {
  color: #ffcb38;
}
.yellow5 {
  color: #ffe499;
}
