
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$mat-comfeco-grayscale-yellow: (
  50: #2e2e2e, //grayscale 50,100,200,300,400,500,600
  100: #555555,
  200: #777879,
  300: #c4c4c4,
  400: #e3e3e3,
  500: #f3f3f3,
  600: #ffffff, // grayscale
  700: #d39c00, // Yellow 700,800,900,A100,A200,A400
  800: #f1b406,
  900: #ffc41f,
  A100: #ffcb38,
  A200: #ffcb38,
  A400: #ffe499, // Yellow
  A700: #fff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$mat-comfeco-pink-purple: (
  50: #69156a,// Pink 50,100,200,300,400,500
  100: #8a178c,
  200: #b824bb,
  300: #d740da,
  400: #e480e5,
  500: #ecadf6,//Pink
  600: #fff,
  700: #390f64,// Purple 700,800,900,A100,A200,A400
  800: #521e87,
  900: #7535b6,
  A100: #9349dd,
  A200: #b983ff,
  A400: #d7b7ff, // Purple
  A700: #fff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// grayscale
$Team-Angular5-Comfeco-Frontend-background: mat-palette($mat-comfeco-grayscale-yellow,50,100,200,300);

// Yellow
$Team-Angular5-Comfeco-Frontend-primary: mat-palette($mat-comfeco-grayscale-yellow,700,800,900,A100);

// pink
$Team-Angular5-Comfeco-Frontend-accent: mat-palette($mat-comfeco-pink-purple, 50,100,200,300);

// Purple
$Team-Angular5-Comfeco-Frontend-warn: mat-palette($mat-comfeco-pink-purple, 700,800,900,A100);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Team-Angular5-Comfeco-Frontend-theme: mat-light-theme((
  color: (
    primary: $Team-Angular5-Comfeco-Frontend-primary,
    backgrond: $Team-Angular5-Comfeco-Frontend-background,
    accent: $Team-Angular5-Comfeco-Frontend-accent,
    warn: $Team-Angular5-Comfeco-Frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Team-Angular5-Comfeco-Frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// background: linear-gradient(
//   90deg
//   , #521e87 0.01%, #5c1d88 14.55%, #751a8a 38.82%, #8a178c 54.92%, #8e1c87 56.27%, #c36e42 77.54%, #e4a017 92.6%, #f1b406 99.98%);

a{
  color: #d39c00;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: #b824bb;
}

h2{
  color:#521e87
}

body{
  color: #272727;
}


// Custom Card Definition
// El card de material causa conflicto con el componente carousel
// Cambiar componente mat-card por la clase customcard

.custom-card {
  border-radius: 4px;
  padding:1rem;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}


.custom-card-header{
  margin-top: 0;
  display:flex;
  flex-direction: column;
}

.custom-card-header .custom-card-title{
  margin-bottom: 12px;
  font-size: 20px;
  display: block;
  font-weight: 500;
}


.custom-card-header .custom-card-subtitle{
  margin-top: -8px;
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.custom-card .custom-card-content{
  margin-bottom: 0;
  font-size: 14px;
}

// Custom Scroll bar
// Añade la definicion para añadir un scrollbar
// A un contenedor con altura definida
.custom-scrollbar{
  overflow-y: auto;
  scrollbar-width: none;
}

.custom-scrollbar:hover{
  scrollbar-color: #8A178C whitesmoke;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar{
  // height:  .6rem;
  width: .4rem;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb{
  background: #8A178C;
  border-radius: 8px;
}
