.profile-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.profile-card{
  width: 300px;
}
.edit-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.custom-card-header.profile-header{
  justify-content: center;
  text-align: center;
  mat-card-subtitle{
    text-align: center;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1em;
}
.profile-image {

  display: flex;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
}

.content-text{
  margin-bottom: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.social-network-action{
  background-color: #333 ;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-network-action:hover{
  cursor: pointer;
}
.social{
  width: 70%;
  height: 70%;
  filter: invert(1) sepia(1) saturate(1) hue-rotate(175deg);

}

.profile-actions{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.center-area{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.badges-area{
  // display: block;
  // height: 300px;
  padding-top: .5rem;
  width: 100%;
  // background-color: aqua;
}

.activity-area{
  padding-top: 1rem;
  // height: 300px;
  // background-color: bisque;
  position: relative;
}

.right-area{
  width: 350px;
  // background-color: purple;
  height: 450px;
  margin-right: 1.5rem;
  padding: .5rem 0 4em 5px;
}

.left-area{
  width: 350px;
  // background-color: red;
  height: 450px;
  margin-left: 1.5rem;
  padding: .5rem 5px 0 5px;

}

div .card-badges{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  .badge{
    max-width: 80px;
    width: 100%;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(62, 6, 167);
    display: flex;
    justify-content: center;
  }
  img.badge-enable{
    width: 80%;
  }

}
//animate active-badge
div.card-badges{
  img.badge-enable:hover{
    width: 320%;
    // height: 400%;
    animation: pulse 1s 3;
  }

}
//animation active-badge

@keyframes pulse {
  from {
      transform : scale(1);
      opacity   : 1;
  }
  50% {
      transform : scale(0.75);
      opacity   : 0.25;
  }
  to {
      transform : scale(1);
      opacity   : 1;
  }
}

// disable badge
div.card-badges{
  .badge.badge-disable{
    background-color: rgb(131, 131, 131);
  }
  img.badge-disable{
    width: 80%;
    filter: grayscale(100%);
  }

}


//  .socialnetwork{
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   // color: palevioletred;
// }

.card-activity{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

ul>li{
  list-style-type: none;
  padding: 0;
}

// .custom-card {
//   border-radius: 4px;
//   padding:1rem;
//   background: white;
//   color: rgba(0, 0, 0, 0.87);
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   position: relative;
//   // height: 100%;
//   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
//   transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .custom-card-header{
//   margin-top: 0;
//   display:flex;
//   flex-direction: column;
// }

// .custom-card-header .custom-card-title{
//   margin-bottom: 12px;
//   font-size: 20px;
//   display: block;
//   font-weight: 500;
// }


// .custom-card-header .custom-card-subtitle{
//   margin-top: -8px;
//   display: block;
//   margin-bottom: 16px;
//   color: rgba(0, 0, 0, 0.54);
//   font-size: 14px;
// }

// .custom-card .custom-card-content{
//   margin-bottom: 0;
//   font-size: 14px;
// }

.card-title-action{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;
}

.events{
  height: 100%;
}

.item-image-cover{
  position: relative;
  margin: .7rem 0 0 0;
  width: 100%;
  height: 200px;
  // background-color: #ffcb38;
  display: flex;
  flex-direction: column;
  background-color: rgb(91, 28, 150) ;
}

.events-content{
  max-height: 95%;
}

.item-image-cover .img-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
  filter: grayscale(50%) opacity(80%);
}


.item-image-cover .item-image-title{
  color: whitesmoke;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  font-size: x-large;
  font-weight: 500;
  position: inherit;
  text-align: center;
  -webkit-text-stroke: 0.0125rem #ffcb38;
}

.item-image-cover .item-image-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: inherit;
  justify-content: center;
  align-items: center;
  padding: .7rem 0 .7rem 0;

}

.activity-background{
  position: absolute;
  bottom:16px;
  right: 16px;
  width: 60px;
  height: 60px;
}

.activity-background path{
  fill: #ffcb38;
  color: #ffcb38;
}
