<div class="profile-area">
<div class="left-area">
  <div class="custom-card">
    <div class="profile">
      <img src="{{(profileUserInfo$|async)?.user?.imgProfile}}" class="profile-image">
      <a class="edit-button" (click)="onSelectCurrentPage('nav-edit-profile')">Editar</a>
    </div>
    <div class="custom-card-header profile-header">
      <div class="custom-card-title">{{((profileUserInfo$ | async)?.user?.userName |titlecase)}}</div>
      <div class="custom-card-subtitle">
        <ng-container *ngFor="let area of (profileUserInfo$|async)?.user?.interests, let i = index">
          {{area}} <span *ngIf="(profileUserInfo$|async)?.user?.interests?.length-1 > i">/</span>
        </ng-container>
      </div>
    </div>
    <div class="custom-card-content">
     <div class="content-text">
       {{(profileUserInfo$|async)?.user?.biography}}
     </div>
    </div>
    <hr>
    <div class="profile-actions">
      <div class="social-network-action">
        <img class="social" src="/assets/socialmedia/facebook.svg" alt="">
      </div>
      <div class="social-network-action">
        <img  class="social" src="/assets/socialmedia/twitter.svg" alt="">
      </div>
      <div class="social-network-action">
        <img class="social" src="/assets/socialmedia/linkedin.svg" alt="">

      </div>
      <div class="social-network-action">
        <img class="social" src="/assets/socialmedia/github.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="center-area">
  <div class="badges-area">
    <div class="custom-card">
      <div class="custom-card-header">
        <div class="custom-card-title">Insignias</div>
      </div>
      <div class="card-badges">
        <ng-container *ngIf="(profileUserInfo$|async)?.badges?.length == 0">
          <div class="badge badge-disable"></div>
          <div class="badge badge-disable"></div>
          <div class="badge badge-disable"></div>
          <div class="badge badge-disable"></div>
          <div class="badge badge-disable"></div>
        </ng-container>
        <ng-container *ngFor="let badge of (profileUserInfo$|async)?.badges">
          <div [ngClass]="isUserEarnBadge(badge)?'badge':'badge badge-disable'">
            <img [ngClass]="isUserEarnBadge(badge)?'badge-enable':'badge-disable'" [src]="badge.img_url"></div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="activity-area">
    <div class="custom-card">
      <div class="custom-card-header">
        <div class="custom-card-title">Actividad reciente</div>
      </div>
      <div class="card-activity">
        <div *ngIf="(userActivity$|async)?.length == 0">
          No tienes actividad reciente.
        </div>
          <ul>
            <li *ngFor="let actiivity of userActivity$|async">
              {{actiivity.description}}
            </li>
          </ul>
          <!-- <img class="activity-background" src="assets/calendar.svg"> -->
      </div>
    </div>
  </div>
</div>
<div class="right-area">
  <div class="custom-card events">
      <div class="card-title-action">
        <div style="flex-grow: 1;">Eventos de tu interes</div>
        <a (click)="onViewMoreEventsClick()">Ver más</a>
      </div>
      <div class="events-content custom-scrollbar">
        <div class="empty-events" *ngIf="(profileUserInfo$|async).user?.active_events?.length == 0">Aún no te registras a un evento</div>
        <ng-container *ngFor="let event of (profileUserInfo$|async).user?.active_events">
          <div class="item-image-cover">
            <img class="img-bg" [src]="event.img_url">
            <div class="item-image-title">{{event.name}}</div>
            <div class="item-image-button"><button mat-raised-button>Más información</button></div>
          </div>
        </ng-container>
      </div>
  </div>
</div>
</div>
