footer{
    // border-image-source:
    background-image: linear-gradient(to right, #743ad5, #d53a9d, #FFB703);;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

footer {
  //  position:fixed;
  //   left:0px;
  //   bottom:0px;
    height:100px;
    width:100%;
    // background:#69156A;
    border-top: 5px solid;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

 }

 mat-grid-tile{
  height: 100px;
  background-color: white;
  color: #5B0F5E;
  cursor: pointer;
  text-align: center;
  font-size: large;
  font-weight: 400;
  font-family: 'roboto';
}
@media screen and (min-width: 1px) and (max-width: 767px) {
  mat-grid-tile{
    height: 100px;
    background-color: white;
    color: #5B0F5E;
    cursor: pointer;
    text-align: center;
    font-size: small;
    font-weight: 400;
    font-family: 'roboto';
  }
  // .bi-youtube{
  //   width: 16px;
  //   height: 16px;
  // }
}

.redes-sociales ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.redes-sociales li
{
   list-style-type: none;
   display: inline;
   padding-right: 0.625rem;
   margin-top: 0.625 rem;
}
a{
   text-decoration: none;
   color: #5B0F5E;

}
